<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chess.css' %}">
    <script type="text/javascript">
        // Pass room_name to JavaScript
        window.roomName = "{{ room_name|escapejs }}";
        window.playerColour = "{{ colour|escapejs }}";
        console.log("roomName", roomName)
    </script>
</head>
<body>
    <div id="chessboard"></div>
    <script src="{% static 'js/chess.js' %}"></script>
</body>
</html>
